.logo-wrapper::after {
  content: "";
  height: 100%;
  position: absolute;
  right: -25px;
  top: 0;
  -webkit-transform: skewX(-11deg);
  transform: skewX(-11deg) translateX(-15px);
  width: 30px;
  background-color: #223C4D;
}