.my-swiper-slide .swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 24px 32px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0 !important;
}

.my-swiper-slide .swiper-wrapper {
  align-items: center;
}

.section-wrapper .tab-swiper-nav {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.section-wrapper:hover .tab-swiper-nav {
  opacity: 1;
}
