@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 80px;
}

@layer base {
  html {
    @apply h-full scroll-smooth antialiased;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply flex h-full flex-col;
    font-family: var(--font-sourceCodePro);
    overflow-x: hidden;
  }

  input:-webkit-autofill {
    background-color: transparent !important;
  }

  main {
    @apply flex-1;
  }

  #__next {
    @apply contents;
  }

  .section {
    @apply py-20;
  }
  :root {
    --radius: 0.5rem;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 15px 10px; */
}

.text-tittle {
  font-family: helvetica, serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #231f20;
  font-size: 32px;
  text-transform: none;
}

.my-swiper-slide.single-column .swiper-slide {
  padding-left: 10px;
  padding-right: 10px;
}

.my-swiper-slide.single-column .swiper-wrapper {
  align-items: flex-end;
}
